.video-thumbnail {
	cursor: pointer;
}

.video-thumbnail:hover {
	opacity: 0.7;
}

.video-thumbnail .image {
	position: relative;
}

.video-thumbnail .image .play-button {
	background: url(/system/modules/youtube/assets/img/play.png) no-repeat 50% 50%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}